In [1]:
from pydoc_data.topics import topics

from h2o.display import display

## The flow
'''
1. I query transactions for the contract 0x78769d50be1763ed1ca0d5e878d93f05aabff29e - should be making a bet
2. I check if the data is match orders
3. I look at the asscoited logs
    I look for an orders matched
4. May need to decode order filled and i get the bet id, amount bet and for amount of tokens!
    



'''

'\n1. I query transactions for the contract 0x78769d50be1763ed1ca0d5e878d93f05aabff29e - should be making a bet\n2. I check if the data is match orders\n3. I look at the asscoited logs\n    I look for an orders matched\n4. May need to decode order filled and i get the bet id, amount bet and for amount of tokens!\n    \n\n\n\n'

In [35]:
import pandas as pd
import ast

trans = pd.read_csv("./transactions.csv")
logs = pd.read_csv("./logs.csv")

logs['first_topic'] = logs['topics'].apply(lambda x: x.replace("[", "").replace("]", "")[:66])

trans

,hash,nonce,transaction_index,from_address,to_address,value,gas,gas_price,input,receipt_cumulative_gas_used,...,receipt_contract_address,receipt_root,receipt_status,block_timestamp,block_number,block_hash,max_fee_per_gas,max_priority_fee_per_gas,transaction_type,receipt_effective_gas_price
0,0x1e6ec8459c39d80db5b9b9afdf80db80911881c224c4...,629069,2,0x38e0e0f3187f0bb8188fa83d90a234f68e1c275e,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,112576153603,0xd2539b37000000000000000000000000000000000000...,481193,...,NaN,NaN,1,2024-07-01 04:44:38 UTC,58815205,0xd861368c8c4a881583fb4a0e3f84c722267f5648d00c...,288000000000,96000000000,2,112576153603
1,0xc1ab83014f3596a8d93a9d295dcd9e7bd17ad802175c...,22661,3,0x715185858f05581d15d63d3629009ba8e42a7ed8,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,208111767074,0xd2539b37000000000000000000000000000000000000...,752671,...,NaN,NaN,1,2024-07-01 01:36:00 UTC,58810728,0xe12fb5f3bef5bb263c91f1abd65bc568f742b784923f...,351000000000,117000000000,2,208111767074
2,0x9e2fe5c88fd6d7e9e34c4743d6e40f9b3658515b4f26...,22723,4,0xf06eee994a0de60692a05d2246ff53e404f851ee,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,342550332095,0xd2539b37000000000000000000000000000000000000...,660471,...,NaN,NaN,1,2024-07-01 02:27:32 UTC,58811813,0x92fafe78eaa73c69a678e224c1fd9bfd36df74e72123...,702000000000,234000000000,2,342550332095
3,0x35b38de1ae904b4ea22ed1b9017f82ed6d71113c51b8...,22785,0,0xebac79603ec90e5ea9ded2a1978ff72bee951b7e,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,474702447159,0xd2539b37000000000000000000000000000000000000...,453104,...,NaN,NaN,1,2024-07-01 03:06:22 UTC,58812695,0xe74899384cd1e5340e8540ed606037331dfd5d274d5c...,1144500000000,381500000000,2,474702447159
4,0xe86daa7127e292ec158a4a61cda721d3b0e1dc2827b0...,22704,137,0xf06eee994a0de60692a05d2246ff53e404f851ee,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,306453142975,0xd2539b37000000000000000000000000000000000000...,21790956,...,NaN,NaN,1,2024-07-01 02:07:12 UTC,58811375,0x0b8df294dbd307d4869b7db3c746321a14a0a47d98db...,688500000000,229500000000,2,306453142975
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20987,0x424c46eb0cf7eebf06cebbdaaaaf11c49fb056d21c25...,24684,1,0xf06eee994a0de60692a05d2246ff53e404f851ee,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1500000,100500000029,0xd2539b37000000000000000000000000000000000000...,866580,...,NaN,NaN,1,2024-07-01 20:13:36 UTC,58840915,0x31984365588969109eb82c72299107e270b531e16837...,301500000000,100500000000,2,100500000029
20988,0xf0e1d0e5b7433a0b3addd1c798ea7d92ddb5ce0780a5...,23988,19,0x96c9ced0482bc89bbb7cb176847f23a96bed98d5,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,100500000049,0xd2539b37000000000000000000000000000000000000...,3716946,...,NaN,NaN,1,2024-07-01 13:47:01 UTC,58830113,0xd424ce6f0a617bb378e286b5aa4e22d37ac16df7164e...,301500000000,100500000000,2,100500000049
20989,0x704eb14c28dc65477e544f9ccfb60e5f57c6d1ecbfa8...,23570,0,0xf06eee994a0de60692a05d2246ff53e404f851ee,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,100500062931,0xd2539b37000000000000000000000000000000000000...,446948,...,NaN,NaN,1,2024-07-01 09:37:41 UTC,58823195,0xc7b2a3bac5eb156d61056bcc88ac75c8c577d4bac5dd...,301500000000,100500000000,2,100500062931
20990,0xc2bd2d1f22a210ae716a9eace63d35511a6a825aff76...,23048,2,0xf06eee994a0de60692a05d2246ff53e404f851ee,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,100508349554,0xd2539b37000000000000000000000000000000000000...,1314860,...,NaN,NaN,1,2024-07-01 06:38:58 UTC,58818327,0xfd5a48b171dea910c7aff133dfdf042c39eacf1a5ebe...,301500000000,100500000000,2,100508349554
20991,0x305d4f9bd7f9d2874edb28a440c5e3ff13b6a5db5a4d...,24164,0,0xebac79603ec90e5ea9ded2a1978ff72bee951b7e,0x78769d50be1763ed1ca0d5e878d93f05aabff29e,0,1100000,100500000037,0xd2539b37000000000000000000000000000000000000...,261429,...,NaN,NaN,1,2024-07-01 14:56:42 UTC,58832080,0xeab0904fb0ea1070d405199da538588fd3664947ba7f...,301500000000,100500000000,2,100500000037

In [39]:
## should test with fake data from polyscan!

0x000000000000000000000000000000000000000000000000009d98d0f08d89000000000000000000000000000000000000000000000001e6af0b5bead23e34ae000000000000000000000000000000000000000000013b26f3e08c02056a18ac0000000000000000000000000000000000000000000001e6ae6dc319e1b0abae000000000000000000000000000000000000000000013b26f47e24d2f5f7a1ac

for i in range(10):
    # 0 is topic, 2 is the maker! 
    cur_df = logs.loc[ ( logs["transaction_hash"] == trans.iloc[i]["hash"] ) & (logs["first_topic"] == "0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c") ]
    
    #print(cur_df.iloc[0]["transaction_hash"])
    data = cur_df.iloc[0]["data"][2:]
    
    display(cur_df)
    maker_asset_id = data[:64]
    taker_asset_id = data[64:128]
    maker_amount = data[128:192]
    taker_amount = data[192:256]
    #print(maker_id, taker_id,hex_to_decimal(maker_amount), hex_to_decimal(taker_amount))
    
    topics = cur_df.iloc[0]["topics"]
    takerOrderMaker = topics.replace("[", "").replace("]", "").split(",")[2] ## the orders maker!
    print(topics)

    ## Now i want to get bet id, user is, side of bet, and price
    
    cur_input = trans.iloc[i]["input"]
    print(cur_input[74:138]) # maker id
    
    ## not about encodings! just about positional!
    
    ##3
    
    
    print(cur_input)

,transaction_hash,address,data,topics,first_topic
17441,0x1e6ec8459c39d80db5b9b9afdf80db80911881c224c4...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x7464aaaf13152dc50bd22519e4a432696310faac75fd...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0x29d0a077f6beb3742645af90a0c2fba038d0c42841a4e09adbb41c335b28e194,0x0000000000000000000000005484e1739b994b98d49b8df51c8f15bf2bea277d]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c000000000000000000000000000000000000000000000000000000000008906200000000000000000000000000000000000000000000000000000000000000520000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000186aa3969150000000000000000000000005484e1739b994b98d49b8df51c8f15bf2bea277d0000000000000000000000007b757830c9c6ebe20b3c81cb175fd8d58d2ca62c00000000000000000000000000000000000000000000000000000000000000007464aaaf13152dc50bd22519e4a432696310faac75fdacd79fbed3c11d88c7e5000000000000000000000000000000000000000000000000000000000089062000000000000000000000000000000000000000000000000000000000005236e00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000416b13de16077e24d3e10a63d7457d3bf8af7a0df556609232bf8de5101bf4836005b7b17da0d346f0aa18d4095bb3c991a8baf152cec96f7d0860914462b8eb3e1b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000079f3cf0ed0000000000000000000000009d84ce0306f8551e02efef1680475fc0f1dc1344000000000000000000000000182a098bda4b4dbf25ff1943c84142a699c0508500000000000000000000000000000000000000000000000000000000000000005e66d2bd3502be046c4c52fedbb9ada4222968d23d98409aaedbcd946709091000000000000000000000000000000000000000000000000000000001bf08eb0000000000000000000000000000000000000000000000000000000000b2d05e000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000410f299a833173eb4a19119f9084b531779ea68351edf59fc397d50a97a0c719d61b2193a1044941f173bb43a8f8ec9cf9e31c48a252b33f9ee5d33de9339624f01b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000890620

,transaction_hash,address,data,topics,first_topic
15257,0xc1ab83014f3596a8d93a9d295dcd9e7bd17ad802175c...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x00000000000000000000000000000000000000000000...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0xc469b81f886b7e6e3e6c921bfd1e3b6eba5d9ee873f9d8eb8a72c04cf1499a0b,0x0000000000000000000000006116ddb381b2eb44643603c5949ad1f4a0090a76]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c000000000000000000000000000000000000000000000000000000000003d08fe000000000000000000000000000000000000000000000000000000000000052000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000015782ba70f70000000000000000000000006116ddb381b2eb44643603c5949ad1f4a0090a76000000000000000000000000f1d6e090ae47f7717364fb4aadb5c9466d1518bd00000000000000000000000000000000000000000000000000000000000000003011e4ede0f6befa0ad3f571001d3e1ffeef3d4af78c3112aaac90416e3a43e700000000000000000000000000000000000000000000000000000000003d090000000000000000000000000000000000000000000000000000000000006271900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000041d8453809aee5e4268ffa34e602302fc9d32e42a9dff5249c213488ac76bb9f824bf530907780c0e8a2bdb7db56ebedeebb57b9d5945c865b75144efd6d1530ce1c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000027c29c8f1400000000000000000000000028969f4982a42270fac7ef530882dadb1e250d46000000000000000000000000e5844c6acb450214d5bc41ee5edf78e28ca328a100000000000000000000000000000000000000000000000000000000000000003011e4ede0f6befa0ad3f571001d3e1ffeef3d4af78c3112aaac90416e3a43e70000000000000000000000000000000000000000000000000000000023c3460000000000000000000000000000000000000000000000000000000000162c45000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000418c78547d789f170aeb8aedc581b14c393c157ab363c78a584d775ba9e714c04c2c2931cdc915362d8e2a3e421db93b6a0ed69405f5187a7d88f90e651c5748551c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000062719b

,transaction_hash,address,data,topics,first_topic
17680,0x9e2fe5c88fd6d7e9e34c4743d6e40f9b3658515b4f26...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x00000000000000000000000000000000000000000000...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0x83bef11b7a923a439fe07a422127a71ed1be5dbded5b2c2c1bdb9fcd41cf4a07,0x00000000000000000000000059ee6c6a56d7b00223f0c30f8002c4df762b684d]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c00000000000000000000000000000000000000000000000000000000000dc92ea0000000000000000000000000000000000000000000000000000000000000520000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000f25c118500000000000000000000000059ee6c6a56d7b00223f0c30f8002c4df762b684d000000000000000000000000887a0ec46f23f2783ded3c5976413b931290d0ea0000000000000000000000000000000000000000000000000000000000000000f9551f93342c2d7fd71ea09593b6497db0a62141d4adec2bc8912ecb4e9eabd70000000000000000000000000000000000000000000000000000000000dc92ea0000000000000000000000000000000000000000000000000000000000dccb700000000000000000000000000000000000000000000000000000000066821440000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000414dd76c7049445ccc054816831923ec41b37ee37b7147c69904696ae92ff9130829e99864883801837da5eec667fe970b771955f434f4a631343f419c5aa122e81b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000ef80d1007b0000000000000000000000003cf3e8d5427aed066a7a5926980600f6c3cf87b3000000000000000000000000cfdd6663018840621fa812ba6043acb5b1fa29d1000000000000000000000000000000000000000000000000000000000000000085913a15aa5f6209e7887e46821f613eca5a47da8421533ae72b1b23b22198cb0000000000000000000000000000000000000000000000000000000000879ec00000000000000000000000000000000000000000000000000000000211c41e000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000415e7ad8a6cd33673f3ec60f5388499b1701e22bec74cf18138b90b2c523a5fb165f766181351b10777ec50bd528644308df260baabdb0929ddeacc59d090794621b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000003886

,transaction_hash,address,data,topics,first_topic
16093,0x35b38de1ae904b4ea22ed1b9017f82ed6d71113c51b8...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x00000000000000000000000000000000000000000000...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0x7db1934b568128201680cf7da58696c4d60f7bc3056d7ad1adcdd0cbc0032eb9,0x000000000000000000000000af52b4b16429f5c785cab89a8fbb8ee623f8d2c5]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c00000000000000000000000000000000000000000000000000000000007270d8800000000000000000000000000000000000000000000000000000000000005200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000574e3fd23f000000000000000000000000af52b4b16429f5c785cab89a8fbb8ee623f8d2c5000000000000000000000000581fee39f2225d4f2fb3419cb40b7df618ac5ca00000000000000000000000000000000000000000000000000000000000000000355e49623b2f0aecf3829a5991ffa371822cdb12e8f08e2d04b7f57ef14359e80000000000000000000000000000000000000000000000000000000007270e00000000000000000000000000000000000000000000000000000000000728e3380000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000041d2f7573e2f5fa851f823ad05360bcce917932e617111ac0b4fa2c9c8cbaaa57c542b176d6ca1f3ede66828d140ffbfbc608c1fd9c1d3507d0a122dcbf84cfb7e1b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000c6590c81680000000000000000000000009d84ce0306f8551e02efef1680475fc0f1dc1344000000000000000000000000182a098bda4b4dbf25ff1943c84142a699c050850000000000000000000000000000000000000000000000000000000000000000f669d52036921a98706ad6404c986bc7bd7a06f3f9668a1f77908d46c934a9270000000000000000000000000000000000000000000000000000000008f0d18000000000000000000000000000000000000000000000000000000022ecb25c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001a0000000000000000000000000000000000000000000000000000000000000004138bfce956c3b01180144faabd21f3895e6111fd3b0022aa2be0da3b92a88bbdc244540d1aa724f9eb05423d16195bff6cf02c9f9159976feb198582e8e4dc40f1b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000001d538

,transaction_hash,address,data,topics,first_topic
16522,0xe86daa7127e292ec158a4a61cda721d3b0e1dc2827b0...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x00000000000000000000000000000000000000000000...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0x8d59a960b711bfb5e95a61c16b188222210d4add097d6bbaf4b9dddb73c634fb,0x000000000000000000000000dc119882d45afbded2da6b44aa2e103ba2055d9a]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c000000000000000000000000000000000000000000000000000000000000f423f0000000000000000000000000000000000000000000000000000000000000520000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000167c4d3d20c000000000000000000000000dc119882d45afbded2da6b44aa2e103ba2055d9a000000000000000000000000a7f93b4b2854241f29e3ca29c64ed9bc5be0a9be0000000000000000000000000000000000000000000000000000000000000000be477a514d4098ee78bdd22260ee289e6d971241395b0da5ef39c23b2f6b879e00000000000000000000000000000000000000000000000000000000000f4240000000000000000000000000000000000000000000000000000000000054c52c0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000041d7e3af417d80a9e308e2c98f02fd116e9f0442130dcd87e9a76a064eadb128c00ad930ed0d4a7631e23ce69ee4e523149e9d442528eb08a5960a89d3e6b978741b00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000017dafa43bd40000000000000000000000000cd96ee3b364b86cb07c86246af91f58afe7109500000000000000000000000037a952dc59533852e65bd83cde0e29c3ee02ead00000000000000000000000000000000000000000000000000000000000000000be477a514d4098ee78bdd22260ee289e6d971241395b0da5ef39c23b2f6b879e00000000000000000000000000000000000000000000000000000000195b8bf00000000000000000000000000000000000000000000000000000000004907a78000000000000000000000000000000000000000000000000000000006682d2b2000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000041c6946ef352f01fb98e6afbd4ffcb69a3e417e04fa36ad38d2116f36e87ebf80a2621eee4f3c93d50fb38d7b28610633c4e8a96244c1f4fb4938d1761fffde0661c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000054c562

,transaction_hash,address,data,topics,first_topic
14567,0x4350b35be63e67ec21557f89492da42395efc5ea7c2e...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x00000000000000000000000000000000000000000000...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0x78d7f845c1f9eba097f2299c355ad9aff858b3041205516f2db096ee47d45d75,0x000000000000000000000000d8c15840c3988e99d99acc3da57f7b1d61180401]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c00000000000000000000000000000000000000000000000000000000007bfa47f00000000000000000000000000000000000000000000000000000000000007600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001165b16656e000000000000000000000000d8c15840c3988e99d99acc3da57f7b1d6118040100000000000000000000000095a0d69bfd7545226446f019dee77236975c645600000000000000000000000000000000000000000000000000000000000000003011e4ede0f6befa0ad3f571001d3e1ffeef3d4af78c3112aaac90416e3a43e70000000000000000000000000000000000000000000000000000000007bfa480000000000000000000000000000000000000000000000000000000000c4ca3900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000418de53850054a27a75cd5fb6a5d76f8cd5d97c006e10d29ef127f06414a9e01a63e7152d83f2b7a0de1bcc0583f2e57f9d780a6f4907a67a6b974d882bd36bea61c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000002600000000000000000000000000000000000000000000000000000009d193f31900000000000000000000000008c678b630c9907191bd520a51b7161985759bb3900000000000000000000000044092cc102dbfcf538b768ab1f028ca3b1e12c5000000000000000000000000000000000000000000000000000000000000000003011e4ede0f6befa0ad3f571001d3e1ffeef3d4af78c3112aaac90416e3a43e70000000000000000000000000000000000000000000000000000000018bc65c0000000000000000000000000000000000000000000000000000000000f9569100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000041d3979d8b5a76e4424bc787e07debf5ea8185382404d082ccf924fb24f78c7965290e05f015cf7971ade73131e78f5c462df00b700db3a21d616c177b3e62b5f71c00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000b3972fa1dc000000000000000000000000f86c606c8a360c38037cdab2f81fb5ed2e94ba9900000000000000000000000082445c09277fa7dce9ba3115b2ce3fd2fbf823e700000000000000000000000000000000000000000000000000000000000000003011e4ede0f6befa0ad3f571001d3e1ffeef3d4af78c3112aaac90416e3a43e7000000000000000000000000000000000000000000000000000000000bebc2000000000000000000000000000000000000000000000000000000000007829b800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000041fceab94801b6b6eb33e20e59cb4272676329f2f15f5799fe99085c2ec2f2cb4722f409771374df9c1a1ba370a7d958952fc19a48ebc54e16cebcf42b3a4f33a91c00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000035593a00000000000000000000000000000000000000000000000000000000008f70ff5

,transaction_hash,address,data,topics,first_topic
14577,0x989daa9874439da723aaebbfad0da05bb6e84323c1d2...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0xf13e1720a015b488b2926ae072f0c1b6c828b0d7b9af...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0x24f8684fc0a379db1a2c421f72355f1b5c7c7e266aaea0f9106ac5ca03bc68b1,0x0000000000000000000000005abc71bf9744299bc958cf1660d8fcacc96b8b1d]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c00000000000000000000000000000000000000000000000000000000000f4e7500000000000000000000000000000000000000000000000000000000000000520000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000135112e92890000000000000000000000005abc71bf9744299bc958cf1660d8fcacc96b8b1d000000000000000000000000b985931d76f140e2f2f148847e3c2baf298e7f0b0000000000000000000000000000000000000000000000000000000000000000f13e1720a015b488b2926ae072f0c1b6c828b0d7b9afe87e190600c26f392b360000000000000000000000000000000000000000000000000000000000f4e7500000000000000000000000000000000000000000000000000000000000f469ec0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000411db9f595f69a60c1a2f1776e8f83cb238be95de721fb268f17466eeb99cc8abd4ed72fab893914a3d44b6c973bcc5f5d8539598bf819a223646b540a5cdb9fe11c0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000117e87e8250000000000000000000000007789806c754eb0af4c3abeb026c218b4ba78f8230000000000000000000000004ecf2b491ded63b43974dda57da82b485201efe800000000000000000000000000000000000000000000000000000000000000004a4f304d07cc6af17130d303b3c2516d91ccb1d372c25fd7b7cbb242d60428520000000000000000000000000000000000000000000000000000000eab17b6000000000000000000000000000000000000000000000000000000000007829b800000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000412527a0da33d8bb44f35193b6feb9756c67c34d3ccc8dc8d020198f89024273e02bed1712c2f74875a28a1cb5ffe4853a687187105994b5f7bcf7a550768b17c21c0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000f4e750

,transaction_hash,address,data,topics,first_topic
14979,0x2a803df823f19e007cdadc907e6ba6668d7ad1fa0e54...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x603c8bffe5605ed296f3b5a2d10a99f438af93ac1d7d...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0x370a53c168295320d81423bded9da65cdac953aa4df8410b4a10ff956c1712e6,0x000000000000000000000000c41b8fa33364d9ce75b97c0ffd13385b67ece235]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c00000000000000000000000000000000000000000000000000000000008fc433000000000000000000000000000000000000000000000000000000000000005200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000087b090bd1000000000000000000000000c41b8fa33364d9ce75b97c0ffd13385b67ece235000000000000000000000000e2ef439a1fcad801ed8e2800f3fdd6b4a52286ee0000000000000000000000000000000000000000000000000000000000000000603c8bffe5605ed296f3b5a2d10a99f438af93ac1d7d1ff7bb358d4fb19a188c0000000000000000000000000000000000000000000000000000000008fc43300000000000000000000000000000000000000000000000000000000008e9dc400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000412879969d8c530c6bed153e36c305ee5bcd75a778a5ff72353064f26cfc2c8f07374ef0a5bc950ca46848c18639a133abc3f877b6f5e207376a1bf1661eac72ca1b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000134d1b670c70000000000000000000000003cf3e8d5427aed066a7a5926980600f6c3cf87b3000000000000000000000000cfdd6663018840621fa812ba6043acb5b1fa29d100000000000000000000000000000000000000000000000000000000000000008fe94a91b3c0d2e797c2e1baf407b4efd98646362f83ad7b5a679b4fd63867e80000000000000000000000000000000000000000000000000000000034edce0000000000000000000000000000000000000000000000000000000000006c66000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000418dfb0c97f8250afe6ed121f549cfc0960623ad70425d0aabfa7fe084faec8d842a74138b7514d04479b0ec5c791b95f343680b63a9ac8e465c6fe048c63a52991b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000008fc4330

,transaction_hash,address,data,topics,first_topic
15575,0x05d51bc2f0b8e9d338e43389f0918bc2dc6065276cbb...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x93dbefcfac2c5ca6a6c42e04dc0ce5f53c0d3f54369e...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0x0591b3c5cb77dff9bdf5628c71ca121978696a08f23c7d696e3afbbd3127328d,0x000000000000000000000000aaf4acafbb7980ce93631d238eb10a5c4ca67883]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c0000000000000000000000000000000000000000000000000000000013e963a40000000000000000000000000000000000000000000000000000000000000076000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000015acffbc30d000000000000000000000000aaf4acafbb7980ce93631d238eb10a5c4ca6788300000000000000000000000086e6ed922d89b32408707e52583972e1ee4f197b000000000000000000000000000000000000000000000000000000000000000093dbefcfac2c5ca6a6c42e04dc0ce5f53c0d3f54369eb909a954d7c153d86b42000000000000000000000000000000000000000000000000000000013e963a400000000000000000000000000000000000000000000000000000000010e296080000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000412d051a1833dbfcfaccfd568bacff93bd40315bbd24d79dfd4331031ae1b34df97f9d2f4bd10559251543f1adecb0345c8265bad2cd3c9f4a8372b67a779ab73b1b000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000002600000000000000000000000000000000000000000000000000000009ca813c55100000000000000000000000024c8cf69a0e0a17eee21f69d29752bfa32e823e1000000000000000000000000f6ae6df55d8108b2f22a13e14cfbdcdf62630439000000000000000000000000000000000000000000000000000000000000000093dbefcfac2c5ca6a6c42e04dc0ce5f53c0d3f54369eb909a954d7c153d86b42000000000000000000000000000000000000000000000000000000000337f980000000000000000000000000000000000000000000000000000000003b9aca000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000041819b6e940bd0124dcbdac09f53d8a98c52443e32f0aa0919906bab09007a472350816f90ccf4d6d10c2edb4f0fc2b4040a990403f017891e02fb8334c6122e661b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000036a62a9dd90000000000000000000000004a7f72969a6f8a523d31168004da342c06a557f6000000000000000000000000c73a65c22271de965a1904c2fce11a3ed860e3c7000000000000000000000000000000000000000000000000000000000000000093dbefcfac2c5ca6a6c42e04dc0ce5f53c0d3f54369eb909a954d7c153d86b42000000000000000000000000000000000000000000000000000000003b7788920000000000000000000000000000000000000000000000000000000462047b100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a000000000000000000000000000000000000000000000000000000000000000413a3368789c6a0468600113a9e286829588e4ae0d2aa1e107ddded9f0e7d5fbe720ca5460d2888b134f4c976ce8dff7690f479b409bc8383584797b163e9086b31c000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000337f980000000000000000000000000000000000000000000000000000000000db9dec8

,transaction_hash,address,data,topics,first_topic
17156,0x10a5e8c976bdb6b69fb3100b3b78d83cb1bec3d2ffa6...,0xc5d563a36ae78145c45a50134d48a1215220f80a,0x00000000000000000000000000000000000000000000...,[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65...,0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b656...

[0x63bf4d16b7fa898ef4c4b2b6d90fd201e9c56313b65638af6088d149d2ce956c,0xf08c86de86dc0358c0fafadbe138c851b4a95a8042301550a11f6a161b6691dd,0x000000000000000000000000631b411f8c3cc49fddd05244eb86e7f5c751ff60]
00000000000000000000000000000000000000000000000000000000000002c0
0xd2539b3700000000000000000000000000000000000000000000000000000000000000a000000000000000000000000000000000000000000000000000000000000002c0000000000000000000000000000000000000000000000000000000000635f719000000000000000000000000000000000000000000000000000000000000052000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008a939ed9d2000000000000000000000000631b411f8c3cc49fddd05244eb86e7f5c751ff6000000000000000000000000094ee78379be356a33bbfb565cc805a29d6cc0d8600000000000000000000000000000000000000000000000000000000000000007cb40b8c20ed9093be049330c19e67ab23e0f8a792cfd554b67a3fc815209df8000000000000000000000000000000000000000000000000000000000635f740000000000000000000000000000000000000000000000000000000000654c29c0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a0000000000000000000000000000000000000000000000000000000000000004147643e609a48f48c54623f22899a5b3de4fd0f7d5defd775ef39907f6f82070d793e67d5717f329c4fb8ae69d5afcfbb23df200a77716ee6447f75bfa21bbe2b1b0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000b7ef51f46100000000000000000000000007d4245464dc4fa05d0b3f084d82482462dc89910000000000000000000000006e6b3fdd05265ead4a8718d11c506464ed440c370000000000000000000000000000000000000000000000000000000000000000a708dad01a259227ad992ceba1c653bef1ae09ee1d650629c88f5413ee3b0f5f000000000000000000000000000000000000000000000000000000000121eac0000000000000000000000000000000000000000000000000000000003b9aca000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000001a00000000000000000000000000000000000000000000000000000000000000041e84be99ffba89dd871ebfe78c978b479e270c604772954f089fd0225a70674795882553589b6db8cfdbb53dc1fce0e6ffaa43034cb23c7be5217a4da11eb28c31b00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000001ecb60

In [22]:
def hex_to_decimal(hex_string):

    # Remove the '0x' prefix if it exists
    if hex_string.startswith("0x"):
        hex_string = hex_string[2:]
    
    # Convert to decimal
    decimal_number = int(hex_string, 16)
    return decimal_number

In [7]:
import hashlib

def keccak256(function_signature: str) -> str:
    """Compute the Keccak-256 hash of a function signature and return the first 4 bytes as hex."""
    hash_bytes = hashlib.new('sha3_256', function_signature.encode()).digest()
    return hash_bytes[:4].hex()

functions = [
    "addAdmin(address)",
    "admins(address)",
    "collateral()",
    "ctf()",
    "exchange()",
    "isAdmin(address)",
    "matchOrders((uint256,address,address,address,uint256,uint256,uint256,uint256,uint256,uint256,uint8,uint8,bytes),((uint256,address,address,address,uint256,uint256,uint256,uint256,uint256,uint256,uint8,uint8,bytes)[]),uint256,uint256[],uint256)",
    "onERC1155BatchReceived(address,address,uint256[],uint256[],bytes)",
    "onERC1155Received(address,address,uint256,uint256,bytes)",
    "removeAdmin(address)",
    "renounceAdmin()",
    "withdrawFees(address,uint256,uint256)"
]

input_selector = "d2539b37"  # Extracted from the input

# Find the matching function
for function in functions:
    selector = keccak256(function)
    if selector == input_selector:
        print(f"Match found: {function}")
        break
else:
    print("No match found.")

No match found.

In [10]:
import hashlib

# Function signature to hash

def dodo(function_signature):
    

    # Keccak-256 hashing (Ethereum's hashing algorithm)
    keccak_hash = hashlib.new('sha3_256', function_signature.encode()).hexdigest()

    # Extract the first 4 bytes (8 characters)
    selector = keccak_hash[:8]

    print(f"Function Signature: {function_signature}")
    print(f"Selector: {selector}")

In [11]:
names = ["123"]

for i in names:
    dodo(i)

Function Signature: 123
Selector: a03ab19b

In [12]:
import requests

selector = "d2539b37"
response = requests.get(f"https://www.4byte.directory/api/v1/signatures/?hex_signature={selector}")
if response.status_code == 200:
    print(response.json())
else:
    print("Selector not found.")

{'count': 0, 'next': None, 'previous': None, 'results': []}

In [16]:
from web3 import Web3

# Hex data from the "Data" field
data = "0x19439c3a79449083c88c783178bc0ecbcd1e8821db3cd6dbaba40cee88c8c3a0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000af986480000000000000000000000000000000000000000000000000000000000086db70"

# Decode using the ABI structure
taker_asset_id = int(data[2:66], 16)
maker_amount_filled = int(data[66:130], 16)
taker_amount_filled = int(data[130:], 16)

print(f"Taker Asset ID: {taker_asset_id}")
print(f"Maker Amount Filled: {maker_amount_filled}")
print(f"Taker Amount Filled: {taker_amount_filled}")

Taker Asset ID: 11427278216799810577769153609711990866150203173170209231780353599584598541216
Maker Amount Filled: 0
Taker Amount Filled: 341123494893133511717840121835594576535733374824977101660242042487312079919251464838000