In [5]:
#!pip install google-cloud-bigquery pandas db-dtypes google-cloud-bigquery-storage
import os
from google.cloud import bigquery
import pandas as pd

import db_dtypes
print("db-dtypes is installed correctly.")
# Set the credentials for Google BigQuery
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "st312-442610-b9934d6c7287.json"


client = bigquery.Client()

db-dtypes is installed correctly.

In [6]:
query = """
SELECT name, gender
FROM `bigquery-public-data.usa_names.usa_1910_current`
WHERE year = 2000
LIMIT 1
"""


# Run query and load into Pandas DataFrame
df = client.query(query).to_dataframe()

# Display results
df

     name gender
0  Hannah      F